body {
	padding: 20px;
}

body>h1,body>h2 {
	margin-left: -10px;
}

body>ul.albums>li {
	border-top: 1px solid;
	padding-top: 5px;
	margin-bottom: 15px;
	list-style-type: none;
	clear: both;
}
body>ul.albums>li img {
	float: left;
	margin-bottom: inherit;
	margin-right: 20px;
}

body>ul.albums>li h4 {
	margin-top: 0px;
}


table.report td.categories ul {
	padding-left: 0px;
}
table.report td.categories li {
	padding-top: 5px;
	list-style-type: none;
	white-space: nowrap;
}

table.report td.title {
	font-family: monospace;
	font-size: 13px;
	width: 258px; /* ~8px per char * 33 chars */
	max-width: 258px; /* ~8px per char * 33 chars */
	min-width: 258px; /* ~8px per char * 33 chars */
	overflow: scroll;
}

table.report td.description {
	font-family: monospace;
	font-size: 13px;
	width: 515px; /* ~8px per char * 66 chars */
	max-width: 515px; /* ~8px per char * 66 chars */
	min-width: 515px; /* ~8px per char * 66 chars */
	overflow: scroll;
}

table.report .sort {
	float: left;
}
table.report div.pager {
	float: right;
}

table.report td.warnings {
	color: darkred;
}
table.report td.warnings ul {
	max-height: 10em;
	overflow-y: scroll;
}
table.report tr.error td {
	background-color: #FCC;
}
table.report td.warnings .error {
	color: red;
}

#category_area {
	float: right;
	height: 128px;
	margin-top: -14px;
}
#category_area h4 {
	margin: 0px;
}
#category_area ul {
	overflow-y: scroll;
	height: 110px;
	margin: 2px;
}